@import 'normalize', 'base';

// Colors
$accent: #5095FF;
$accent2: #C3FFF0;
$accent3: #31403C;
//
$maintype: #303030;
$subtype: #676164;
$darktype: #1f1f1f;
$weight: 200;
h1,h2,h3,h4,h5,h6 { color:$maintype; font-family: 'source sans pro', $body-font-family;  font-weight: 200; @include press(.2,.35); }
h1,h2 { letter-spacing: -3px; }
h3,h4,h5,h6 { letter-spacing: -2px; }
h1 { font-size: 4rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }
// p { line-height: 1.5; }
ul li { list-style: none; }
select { &:focus{ outline: none; } }
button { 
	border-radius:3px; border:1px solid #ccc;
	background:snow; text-transform: uppercase; padding:.7rem 1.5rem; outline:none; 
	font-size: .8rem; font-weight: 900;
	box-shadow:inset 0 1px white(.5), 0 1px 1px black(.2); -webkit-appearance:none; 
	color:#436aff; font-size: 1rem; @include press(.1,.5);
	&:hover { background:#fff; box-shadow: none; }
	&:active { box-shadow:inset 0 2px 1px black(.1), 0 1px white(.1); }
}
input[type=submit] { @extend button; }
body { 
	color:$maintype;  
	background:
	radial-gradient(ghostwhite 15%, transparent 16%) 0 0,
	radial-gradient(ghostwhite 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:ivory; background-size:16px 16px;
	min-height: 44rem;
}


header { 
	text-align: center; margin-top:5%; 
	h1 { letter-spacing: -3px; margin-bottom:4rem; } 
	@media #{$mobile}{ h1 { font-size:3rem; }	}
}

.selecta { 
	min-height:7.5rem; @include inset(.1,.7); background-color:black(.02); border-radius:3px; padding:.1rem 1rem 2rem;
	h3 { font-weight: 600; margin-bottom:.8rem; }
	.select-wrap { 
		background:black(.04); border:1px solid darken(ivory,3%); padding:.15rem .2rem; @include inset(.2,.7);
	  border-radius:3px;	
	}
	select { 
		display:block; width:100%; height:100%;
	} 
}
.user-get {
	height:6rem; background:purple; padding-left:1rem; border-radius:2px 0 0 2px;
	strong { font-weight:900!important; letter-spacing:0; }
	h3 { font-weight:200!important; letter-spacing:0; color:snow; @include press(0,0); }
}
.single {
	width:100%; margin:2rem auto; 
	.person-item { border:2px solid purple;height:6rem; padding-left:1rem; border-radius:0 2px 2px 0; background: white(.4);	
	}
	h3 { float:left; margin-left:1rem; font-weight: 600; @include press(0,0); }
}

.friends>li { @extend .md4; float:left; padding:1rem; }
.friends>li:hover { .guid-values{ display: block; } }
.user { margin-top:.5rem; }

.guid-values { display: none; }

.person-form { 
	background:#fefefe; @include inset(.1,.1); border-radius:3px; padding:.5rem 0;
	input[type="text"]{ 
		background:#fff; border-radius:3px; border:1px solid #ddd; height:2.7rem; 
		padding-left:.5rem;
	}
}


.basel { z-index: 0;
	position: fixed; bottom:3%; right:2%; opacity: .4; transition:opacity .25s ease-in-out;
	&:hover { opacity: .93; }
}

