/*  S P C L O P S  */

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ========================================================================== HTML5 display definitions ========================================================================== */

/** Correct `block` display not defined in IE 8/9. */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/** Correct `inline-block` display not defined in IE 8/9. */

audio,
canvas,
video {
  display: inline-block;
}

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */

audio:not([controls]) {
  display: none;
  height: 0;
}

/** Address `[hidden]` styling not present in IE 8/9. Hide the `template` element in IE, Safari, and Firefox < 22. */

[hidden],
template {
  display: none;
}

/* ========================================================================== Base ========================================================================== */

/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/** Remove default margin. */

body {
  margin: 0;
}

/* ========================================================================== Links ========================================================================== */

/** Remove the gray background color from active links in IE 10. */

a {
  background: transparent;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

/** Address `outline` inconsistency between Chrome and other browsers. */

/** Improve readability when focused and also mouse hovered in all browsers. */

/* ========================================================================== Typography ========================================================================== */

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari 5, and Chrome. */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/** Address styling not present in IE 8/9, Safari 5, and Chrome. */

abbr[title] {
  border-bottom: 1px dotted;
}

/** Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */

b,
strong {
  font-weight: bold;
}

/** Address styling not present in Safari 5 and Chrome. */

dfn {
  font-style: italic;
}

/** Address differences between Firefox and other browsers. */

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/** Address styling not present in IE 8/9. */

mark {
  background: #ff0;
  color: #000;
}

/** Correct font family set oddly in Safari 5 and Chrome. */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/** Improve readability of pre-formatted text in all browsers. */

pre {
  white-space: pre-wrap;
}

/** Set consistent quote types. */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/** Address inconsistent and variable font size in all browsers. */

small {
  font-size: 80%;
}

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ========================================================================== Embedded content ========================================================================== */

/** Remove border when inside `a` element in IE 8/9. */

img {
  border: 0;
}

/** Correct overflow displayed oddly in IE 9. */

svg:not(:root) {
  overflow: hidden;
}

/* ========================================================================== Figures ========================================================================== */

/** Address margin not present in IE 8/9 and Safari 5. */

figure {
  margin: 0;
}

/* ========================================================================== Forms ========================================================================== */

/** Define consistent border, margin, and padding. */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/** 1. Correct `color` not being inherited in IE 8/9. 2. Remove padding so people aren't caught out if they zero out fieldsets. */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/** 1. Correct font family not being inherited in all browsers. 2. Correct font size not being inherited in all browsers. 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */

button,
input[type=submit],
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */

button,
input[type=submit],
input {
  line-height: normal;
}

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. Correct `select` style inheritance in Firefox 4+ and Opera. */

button,
input[type=submit],
select {
  text-transform: none;
}

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */

button,
input[type=submit],
html input[type="button"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/** Re-set default cursor for disabled elements. */

button[disabled],
input[disabled][type=submit],
html input[disabled] {
  cursor: default;
}

/** 1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/** 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */

/** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */

/** Remove inner padding and border in Firefox 4+. */

button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/** 1. Remove default vertical scrollbar in IE 8/9. 2. Improve readability and alignment in all browsers. */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ========================================================================== Tables ========================================================================== */

/** Remove most spacing between table cells. */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  M I X I N S
=============================================================*/

@font-face {
  font-family: 'icon';
  src: url("../fonts/icon.eot?ps0mba");
  src: url("../fonts/icon.eot?#iefixps0mba") format("embedded-opentype"), url("../fonts/icon.woff?ps0mba") format("woff"), url("../fonts/icon.ttf?ps0mba") format("truetype"), url("../fonts/icon.svg?ps0mba#icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.5);
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e600";
}

.icon-cloud-download:before {
  content: "\e601";
}

.icon-uniF7BF:before {
  content: "\e602";
}

.icon-uniF679:before {
  content: "\e603";
}

/*  F U N C T I O N S
=============================================================*/

/*  G L O B A L S
=============================================================*/

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

hr {
  border-style: none;
  height: 1px;
  width: 90%;
  margin: 2rem auto;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#aaaaaa), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #aaaaaa, rgba(255, 255, 255, 0));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #aaaaaa, rgba(255, 255, 255, 0));
}

/*  Media Queries
------------------------------------------------------------*/

/*  G R I D
=============================================================*/

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 75rem;
  *zoom: 1;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse > .column,
.row.collapse > .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

.row .row {
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}

.row .row:before,
.row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}

.row .row.collapse:before,
.row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

.column,
.columns {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left;
}

@media only screen {
  .column.xs-centered,
  .columns.xs-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .column.xs-uncentered,
  .columns.xs-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.xs-uncentered.opposite,
  .columns.xs-uncentered.opposite {
    float: right;
  }

  .xs-push1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .xs-pull1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .xs-push2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .xs-pull2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .xs-push3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .xs-pull3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .xs-push4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .xs-pull4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .xs-push5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .xs-pull5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .xs-push6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .xs-pull6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .xs-push7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .xs-pull7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .xs-push8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .xs-pull8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .xs-push9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .xs-pull9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .xs-push10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .xs-pull10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .xs-push11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .xs-pull11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .xs1 {
    position: relative;
    width: 8.33333%;
  }

  .xs2 {
    position: relative;
    width: 16.66667%;
  }

  .xs3 {
    position: relative;
    width: 25%;
  }

  .xs4 {
    position: relative;
    width: 33.33333%;
  }

  .xs5 {
    position: relative;
    width: 41.66667%;
  }

  .xs6 {
    position: relative;
    width: 50%;
  }

  .xs7 {
    position: relative;
    width: 58.33333%;
  }

  .xs8 {
    position: relative;
    width: 66.66667%;
  }

  .xs9 {
    position: relative;
    width: 75%;
  }

  .xs10 {
    position: relative;
    width: 83.33333%;
  }

  .xs11 {
    position: relative;
    width: 91.66667%;
  }

  .xs12 {
    position: relative;
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .xs-offset-0 {
    position: relative;
    margin-left: 0% !important;
  }

  .xs-offset-1 {
    position: relative;
    margin-left: 8.33333% !important;
  }

  .xs-offset-2 {
    position: relative;
    margin-left: 16.66667% !important;
  }

  .xs-offset-3 {
    position: relative;
    margin-left: 25% !important;
  }

  .xs-offset-4 {
    position: relative;
    margin-left: 33.33333% !important;
  }

  .xs-offset-5 {
    position: relative;
    margin-left: 41.66667% !important;
  }

  .xs-offset-6 {
    position: relative;
    margin-left: 50% !important;
  }

  .xs-offset-7 {
    position: relative;
    margin-left: 58.33333% !important;
  }

  .xs-offset-8 {
    position: relative;
    margin-left: 66.66667% !important;
  }

  .xs-offset-9 {
    position: relative;
    margin-left: 75% !important;
  }

  .xs-offset-10 {
    position: relative;
    margin-left: 83.33333% !important;
  }
}

@media only screen and (min-width: 40.063em) {
  .column.sm-centered,
  .columns.sm-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .column.sm-uncentered,
  .columns.sm-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.sm-uncentered.opposite,
  .columns.sm-uncentered.opposite {
    float: right;
  }

  .sm-push1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .sm-pull1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .sm-push2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .sm-pull2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .sm-push3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .sm-pull3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .sm-push4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .sm-pull4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .sm-push5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .sm-pull5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .sm-push6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .sm-pull6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .sm-push7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .sm-pull7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .sm-push8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .sm-pull8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .sm-push9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .sm-pull9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .sm-push10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .sm-pull10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .sm-push11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .sm-pull11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .sm1 {
    position: relative;
    width: 8.33333%;
  }

  .sm2 {
    position: relative;
    width: 16.66667%;
  }

  .sm3 {
    position: relative;
    width: 25%;
  }

  .sm4 {
    position: relative;
    width: 33.33333%;
  }

  .sm5 {
    position: relative;
    width: 41.66667%;
  }

  .sm6 {
    position: relative;
    width: 50%;
  }

  .sm7 {
    position: relative;
    width: 58.33333%;
  }

  .sm8 {
    position: relative;
    width: 66.66667%;
  }

  .sm9 {
    position: relative;
    width: 75%;
  }

  .sm10 {
    position: relative;
    width: 83.33333%;
  }

  .sm11 {
    position: relative;
    width: 91.66667%;
  }

  .sm12 {
    position: relative;
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .sm-offset-0 {
    position: relative;
    margin-left: 0% !important;
  }

  .sm-offset-1 {
    position: relative;
    margin-left: 8.33333% !important;
  }

  .sm-offset-2 {
    position: relative;
    margin-left: 16.66667% !important;
  }

  .sm-offset-3 {
    position: relative;
    margin-left: 25% !important;
  }

  .sm-offset-4 {
    position: relative;
    margin-left: 33.33333% !important;
  }

  .sm-offset-5 {
    position: relative;
    margin-left: 41.66667% !important;
  }

  .sm-offset-6 {
    position: relative;
    margin-left: 50% !important;
  }

  .sm-offset-7 {
    position: relative;
    margin-left: 58.33333% !important;
  }

  .sm-offset-8 {
    position: relative;
    margin-left: 66.66667% !important;
  }

  .sm-offset-9 {
    position: relative;
    margin-left: 75% !important;
  }

  .sm-offset-10 {
    position: relative;
    margin-left: 83.33333% !important;
  }

  .push1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .pull1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .push2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .pull2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .push3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .pull3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .push4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .pull4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .push5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .pull5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .push6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .pull6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .push7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .pull7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .push8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .pull8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .push9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .pull9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .push10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .pull10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .push11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .pull11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }
}

@media only screen and (min-width: 64.063em) {
  .column.md-centered,
  .columns.md-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .column.md-uncentered,
  .columns.md-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.md-uncentered.opposite,
  .columns.md-uncentered.opposite {
    float: right;
  }

  .md-push1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .md-pull1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .md-push2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .md-pull2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .md-push3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .md-pull3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .md-push4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .md-pull4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .md-push5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .md-pull5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .md-push6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .md-pull6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .md-push7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .md-pull7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .md-push8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .md-pull8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .md-push9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .md-pull9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .md-push10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .md-pull10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .md-push11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .md-pull11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .md1 {
    position: relative;
    width: 8.33333%;
  }

  .md2 {
    position: relative;
    width: 16.66667%;
  }

  .md3 {
    position: relative;
    width: 25%;
  }

  .md4,
  .friends > li {
    position: relative;
    width: 33.33333%;
  }

  .md5 {
    position: relative;
    width: 41.66667%;
  }

  .md6 {
    position: relative;
    width: 50%;
  }

  .md7 {
    position: relative;
    width: 58.33333%;
  }

  .md8 {
    position: relative;
    width: 66.66667%;
  }

  .md9 {
    position: relative;
    width: 75%;
  }

  .md10 {
    position: relative;
    width: 83.33333%;
  }

  .md11 {
    position: relative;
    width: 91.66667%;
  }

  .md12 {
    position: relative;
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .md-offset-0 {
    position: relative;
    margin-left: 0% !important;
  }

  .md-offset-1 {
    position: relative;
    margin-left: 8.33333% !important;
  }

  .md-offset-2 {
    position: relative;
    margin-left: 16.66667% !important;
  }

  .md-offset-3 {
    position: relative;
    margin-left: 25% !important;
  }

  .md-offset-4 {
    position: relative;
    margin-left: 33.33333% !important;
  }

  .md-offset-5 {
    position: relative;
    margin-left: 41.66667% !important;
  }

  .md-offset-6 {
    position: relative;
    margin-left: 50% !important;
  }

  .md-offset-7 {
    position: relative;
    margin-left: 58.33333% !important;
  }

  .md-offset-8 {
    position: relative;
    margin-left: 66.66667% !important;
  }

  .md-offset-9 {
    position: relative;
    margin-left: 75% !important;
  }

  .md-offset-10 {
    position: relative;
    margin-left: 83.33333% !important;
  }
}

@media only screen and (min-width: 90.063em) {
  .column.lg-centered,
  .columns.lg-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .column.lg-uncentered,
  .columns.lg-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.lg-uncentered.opposite,
  .columns.lg-uncentered.opposite {
    float: right;
  }

  .lg-push1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .lg-pull1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .lg-push2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .lg-pull2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .lg-push3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .lg-pull3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .lg-push4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .lg-pull4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .lg-push5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .lg-pull5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .lg-push6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .lg-pull6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .lg-push7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .lg-pull7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .lg-push8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .lg-pull8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .lg-push9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .lg-pull9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .lg-push10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .lg-pull10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .lg-push11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .lg-pull11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .lg1 {
    position: relative;
    width: 8.33333%;
  }

  .lg2 {
    position: relative;
    width: 16.66667%;
  }

  .lg3 {
    position: relative;
    width: 25%;
  }

  .lg4 {
    position: relative;
    width: 33.33333%;
  }

  .lg5 {
    position: relative;
    width: 41.66667%;
  }

  .lg6 {
    position: relative;
    width: 50%;
  }

  .lg7 {
    position: relative;
    width: 58.33333%;
  }

  .lg8 {
    position: relative;
    width: 66.66667%;
  }

  .lg9 {
    position: relative;
    width: 75%;
  }

  .lg10 {
    position: relative;
    width: 83.33333%;
  }

  .lg11 {
    position: relative;
    width: 91.66667%;
  }

  .lg12 {
    position: relative;
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .lg-offset-0 {
    position: relative;
    margin-left: 0% !important;
  }

  .lg-offset-1 {
    position: relative;
    margin-left: 8.33333% !important;
  }

  .lg-offset-2 {
    position: relative;
    margin-left: 16.66667% !important;
  }

  .lg-offset-3 {
    position: relative;
    margin-left: 25% !important;
  }

  .lg-offset-4 {
    position: relative;
    margin-left: 33.33333% !important;
  }

  .lg-offset-5 {
    position: relative;
    margin-left: 41.66667% !important;
  }

  .lg-offset-6 {
    position: relative;
    margin-left: 50% !important;
  }

  .lg-offset-7 {
    position: relative;
    margin-left: 58.33333% !important;
  }

  .lg-offset-8 {
    position: relative;
    margin-left: 66.66667% !important;
  }

  .lg-offset-9 {
    position: relative;
    margin-left: 75% !important;
  }

  .lg-offset-10 {
    position: relative;
    margin-left: 83.33333% !important;
  }
}

@media only screen and (min-width: 120.063em) {
  .column.xl-centered,
  .columns.xl-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .column.xl-uncentered,
  .columns.xl-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.xl-uncentered.opposite,
  .columns.xl-uncentered.opposite {
    float: right;
  }

  .xl-push1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .xl-pull1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .xl-push2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .xl-pull2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .xl-push3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .xl-pull3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .xl-push4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .xl-pull4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .xl-push5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .xl-pull5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .xl-push6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .xl-pull6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .xl-push7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .xl-pull7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .xl-push8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .xl-pull8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .xl-push9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .xl-pull9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .xl-push10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .xl-pull10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .xl-push11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .xl-pull11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
  }

  .xl1 {
    position: relative;
    width: 8.33333%;
  }

  .xl2 {
    position: relative;
    width: 16.66667%;
  }

  .xl3 {
    position: relative;
    width: 25%;
  }

  .xl4 {
    position: relative;
    width: 33.33333%;
  }

  .xl5 {
    position: relative;
    width: 41.66667%;
  }

  .xl6 {
    position: relative;
    width: 50%;
  }

  .xl7 {
    position: relative;
    width: 58.33333%;
  }

  .xl8 {
    position: relative;
    width: 66.66667%;
  }

  .xl9 {
    position: relative;
    width: 75%;
  }

  .xl10 {
    position: relative;
    width: 83.33333%;
  }

  .xl11 {
    position: relative;
    width: 91.66667%;
  }

  .xl12 {
    position: relative;
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .xl-offset-0 {
    position: relative;
    margin-left: 0% !important;
  }

  .xl-offset-1 {
    position: relative;
    margin-left: 8.33333% !important;
  }

  .xl-offset-2 {
    position: relative;
    margin-left: 16.66667% !important;
  }

  .xl-offset-3 {
    position: relative;
    margin-left: 25% !important;
  }

  .xl-offset-4 {
    position: relative;
    margin-left: 33.33333% !important;
  }

  .xl-offset-5 {
    position: relative;
    margin-left: 41.66667% !important;
  }

  .xl-offset-6 {
    position: relative;
    margin-left: 50% !important;
  }

  .xl-offset-7 {
    position: relative;
    margin-left: 58.33333% !important;
  }

  .xl-offset-8 {
    position: relative;
    margin-left: 66.66667% !important;
  }

  .xl-offset-9 {
    position: relative;
    margin-left: 75% !important;
  }

  .xl-offset-10 {
    position: relative;
    margin-left: 83.33333% !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #303030;
  font-family: "source sans pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.35);
}

h1,
h2 {
  letter-spacing: -3px;
}

h3,
h4,
h5,
h6 {
  letter-spacing: -2px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

ul li {
  list-style: none;
}

select:focus {
  outline: none;
}

button,
input[type=submit] {
  border-radius: 3px;
  border: 1px solid #ccc;
  background: snow;
  text-transform: uppercase;
  padding: .7rem 1.5rem;
  outline: none;
  font-size: .8rem;
  font-weight: 900;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  color: #436aff;
  font-size: 1rem;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5);
}

button:hover,
input[type=submit]:hover {
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:active,
input[type=submit]:active {
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1);
}

body {
  color: #303030;
  background: -webkit-radial-gradient(ghostwhite 15%, transparent 16%) 0 0, -webkit-radial-gradient(ghostwhite 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background: radial-gradient(ghostwhite 15%, transparent 16%) 0 0, radial-gradient(ghostwhite 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: ivory;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  min-height: 44rem;
}

header {
  text-align: center;
  margin-top: 5%;
}

header h1 {
  letter-spacing: -3px;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 64em) {
  header h1 {
    font-size: 3rem;
  }
}

.selecta {
  min-height: 7.5rem;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 3px;
  padding: .1rem 1rem 2rem;
}

.selecta h3 {
  font-weight: 600;
  margin-bottom: .8rem;
}

.selecta .select-wrap {
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #ffffe1;
  padding: .15rem .2rem;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.7);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}

.selecta select {
  display: block;
  width: 100%;
  height: 100%;
}

.user-get {
  height: 6rem;
  background: purple;
  padding-left: 1rem;
  border-radius: 2px 0 0 2px;
}

.user-get strong {
  font-weight: 900 !important;
  letter-spacing: 0;
}

.user-get h3 {
  font-weight: 200 !important;
  letter-spacing: 0;
  color: snow;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(255, 255, 255, 0);
}

.single {
  width: 100%;
  margin: 2rem auto;
}

.single .person-item {
  border: 2px solid purple;
  height: 6rem;
  padding-left: 1rem;
  border-radius: 0 2px 2px 0;
  background: rgba(255, 255, 255, 0.4);
}

.single h3 {
  float: left;
  margin-left: 1rem;
  font-weight: 600;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0), 0 1px 0 rgba(255, 255, 255, 0);
}

.friends > li {
  float: left;
  padding: 1rem;
}

.friends > li:hover .guid-values {
  display: block;
}

.user {
  margin-top: .5rem;
}

.guid-values {
  display: none;
}

.person-form {
  background: #fefefe;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: .5rem 0;
}

.person-form input[type="text"] {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ddd;
  height: 2.7rem;
  padding-left: .5rem;
}

.basel {
  z-index: 0;
  position: fixed;
  bottom: 3%;
  right: 2%;
  opacity: .4;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.basel:hover {
  opacity: .93;
}